header {
    background-image: url(../img/pattern.png);
    background-color: rgb(27, 113, 235);
    background-size: 30%;


}


.logo{
    width: 12%;
}
h1{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
h4{
    color: lightgray;
}
a{
    color: rgb(66, 153, 219);
}
ul{
    padding-left: 15px;
}
thead{
    background-color: blue;
}
th{
    color:blanchedalmond;
}
.one{
    background-color:aqua;
  }
.uno{
    background-image: url(../img/monitor.jpg);
    color: aliceblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 12px;
    background-position: center;
    
}
.due{
    background-image: url(../img/graph.jpg);
    color: aliceblue;
    height: 150px;
    width: 150px;
    text-align: center;
    font-size: 12px;
    background-position: center;
}


